body {
    text-align: center;
}

#gridContainer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    margin: auto;
    width: 80vh;
    height: 80vh;
}

.rows {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.cells {
    height: 100%;
    border: solid black 1px;
}

.black-cell {
    background-color: black;
}